/* General page styling */

body{
font-family: Arial, sans-serif;
margin:0;
background:#f5f5f5;
margin: 0;
padding: 0;
}

/* Navigation bar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
color:white;
padding:15px 30px;
}

nav h1{
margin:0;
color:#00bcd4
}

nav ul{
display:flex;
list-style-type:none;
margin:0;
padding:0;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:rgb(218, 4, 36);
text-decoration:none;
font-weight:bold;
}

nav ul li a:hover{
color:#00bcd4;
}

/* Home section */

.home{
text-align:center;
padding:120px 20px;

background-image:url("background.jpg");
background-size:cover;
background-position:left center;
background-repeat:no-repeat;

min-height:90vh;
}

.home h2{
font-size:36px;
color:#ce731e;
font-family:'Times New Roman', Times, serif;
font-weight:bold;
margin-left:250px;
margin-top: 0px;

}

.home p{
color:#00ccff;
font-weight:bold;
margin-left:250px;
}




/* Achievements section */

body{
margin:0;
padding:0;
}

.achievements{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
gap:25px;
padding:40px 20px;

min-height:85vh;   /* fills the screen height */

background-image:url("image1.avif");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.achievements h2{
    color:yellowgreen;
}
/* Achievement cards */

.achievements-card{
background:white;
padding:20px;
width:250px;
border-radius:8px;
box-shadow:0px 3px 10px rgba(0,0,0,0.2);
text-align:center;
}

.achievements-card h3{
margin-top:0;
}
/*ABOOUT ME*/
.aboutme{
    padding: 10px 20px 10px;
    background-image: url("image2.jpg");
    background-size: cover;
    background-position: center;
    min-height:90vh;
}
.aboutme-heading{
    color: rgb(8, 73, 235)
}
.aboutme-text{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.aboutme-heading2{
    font-style: italic;
    color: rgb(2, 11, 5);
    margin-top: 20px;
}
.aboutme-list{
    color: rgb(8, 73, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
/* Projects section */
.projects{
padding:40px;
text-align:center;
background-image:url("image4.jpg");
background-size:cover;
background-position:center;
min-height:85vh;
}

.project-box{
background:white;
padding:20px;
margin:20px auto;
width:250px;
border-radius:10px;
box-shadow:0px 3px 10px rgba(31, 19, 19, 0.3);
}

.project-box a{
text-decoration:none;
color:#00bcd4;
font-weight:bold;
}
/*Contact section*/
.contact{
    padding: 10px 20px 30px;
    background-image: url(image3.jpg);
    background-size: cover;
    background-position: center;
    min-height:85vh;

}
.info{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
/* Footer */

footer{
text-align:center;
background:#222;
color:white;
padding:15px;
margin-top:0;
}

/* Responsive design */

@media (max-width:768px){

nav{
flex-direction:column;
align-items:flex-start;;
}

nav ul{
flex-direction:column;
margin-top:10px;
}

nav ul li{
margin:10px 0;
}

.achievements{
flex-direction:column;
align-items:center;
}

}
